# Environment Variables
.env

# Python Caches & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
ENV/
env/

# Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
